.product_card_container {
   position: relative;
}


.imgs_block {
   position: relative;
}

.imgs_block img {
   width: 315px;
   height: 284px;
   border-top: 1px solid #DDDDDD;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
   object-fit: cover;
   border-bottom: 1px solid #DDDDDD;
}

.button_on_hover {
   display: none;
   position: absolute;
   bottom: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #F26D22;
   color: #FFFFFF;
   padding: 16px 32px;
   border-radius: 7px;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   text-align: center;
   width: 220px;
}

.product_card_container:hover .button_on_hover {
   display: block;
}

.with_sale {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px 8px;
   border-radius: 7px;
   border: 1px solid #F26D22;
   background-color: #F26D22;
   color: #FFFFFF;
   position: absolute;
   top: 16px;
   right: 16px;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   letter-spacing: 0.03em;
}

.without_sale {
   display: none;
} 

.without_discount {
   display: none;
}

.product_by_category {
   width: 316px;
   height: 422px;
   border: 1px solid #DDDDDD;
   border-radius: 7px;
   cursor: pointer;
}

.descr_block {
   width: 316px;
   height: 118px;
   padding: 20px 32px 32px 32px;
   display: flex;
   flex-direction: column;
}
.descr_block > p {
   width: 252px;
   height: 26px;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   text-align: left;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   color: #424436;
}

.price_block {
   width: 252px;
   height: 44px;
   display: flex;
   gap: 16px;
   position: relative;
   padding-top: 16px;
}

.price_block > p:nth-child(1) {
   font-family: 'Montserrat';
   font-size: 40px;
   font-weight: 600;
   line-height: 44px;
   color: #424436;
   height: 44px;
}

.price_block > p:nth-child(2) {
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   position: absolute;
   color: #8B8B8B;
   top: 75%;
   left: 60%;
   text-decoration: line-through;

} 

@media(max-width: 1000px) {
   .imgs_block img {
      width: 225px;
      height: 250px;
   }

   .product_by_category {
      width: 225px;
      height: 398px;
   }

   .descr_block {
      width: 225px;
      height: 128px;
      padding: 10px 20px 20px 20px;
   }

   .descr_block > p {
      width: 190px;
      left: -10px;
   }

   .price_block {
      width: 225px;
      height: 44px;
      display: flex;
      gap: 16px;
      position: relative;
      padding-top: 46px;
   }

   .price_block > p:nth-child(2) {
      margin-top: 25px;
      left: 60%;
   } 
}

@media(max-width: 768px) {
   .imgs_block img {
      width: 354px;
      height: 250px;
   }

   .product_by_category {
      width: 354px;
      height: 372px;
   }

   .descr_block {
      margin-top: 10px;
      width: 354px;
      height: 102px;
      padding: 0px 20px 20px 20px;
   }

   .descr_block > p {
      width: 320px;
   }

   .price_block {
      width: 310px;
      bottom: -20px;
      padding-top: 0;
   }

   .price_block > p:nth-child(2) {
      margin-top: -20px;
      left: 50%;
   } 
}

@media(max-width: 480px) {
   .imgs_block img {
      width: 210px;
      height: 220px;
   }

   .product_by_category {
      width: 210px;
      height: 358px;
   }

   .descr_block {
      margin-top: 10px;
      width: 210px;
      height: 102px;
      margin-top: 10px;
   }

   .descr_block > p {
      width: 175px;
   }

   .price_block {
      width: 210px;
      bottom: -40px;
      padding-top: 0;
   }

   .price_block > p:nth-child(2) {
      width: 46px;
      font-size: 18px;
      height: 23px;
      line-height: 23.4px;
      top: 75%;
      left: 58%;
   } 

   .price_block > p:nth-child(1) {
      font-size: 35px;
      line-height: 39px;
      height: 40px;
   }
}

@media(max-width: 360px) {
   .imgs_block img {
      width: 320px;
   }

   .product_by_category {
      width: 320px;
   }

   .descr_block > p {
      width: 280px;
   }
}