.error_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.error_container img{
   width: 690.8px;
   height: 270px;
   object-fit: contain;
   margin-top: 80px;
   margin-bottom: 32px;

}

.error_container h4 {
   width: 760px;
   height: 70px;
   font-family: 'Montserrat';
   font-size: 64px;
   font-weight: 700;
   line-height: 70.4px;
   text-align: center;
   color: #424436;
   margin-bottom: 16px;
}

.error_container p{
   width: 600px;
   height: 52px;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   text-align: center;
   color: #8B8B8B;
   margin-bottom: 32px;
}