* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFF1;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #424436
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

.wrapper {
  width: 1360px;
  margin: 40px auto;
}