.cards_container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 32px;
}

.buttons {
   position: relative;
   display: flex;
   width: 254px;
   height: 36px;
   gap: 15px;
   margin: 40px 0;
}

.main_page_button, .all_products_button {
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 500;
   line-height: 20.16px;
   border: 1px solid #DDDDDD;
   border-radius: 7px;
   height: 36px;
   width: 125px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.main_page_button {
   color: #8B8B8B;
}

.all_products_button {
   color: #424436;
}

.buttons_line {
   width: 16px;
   border-bottom: 1px solid #DDDDDD;
   position: absolute;
   top: 17px;
   left: 125px;
}

.all_products_page h2 {
   font-family: 'Montserrat';
   font-size: 64px;
   font-weight: 700;
   line-height: 70.4px;
   text-align: left;
   color: #424436;
   width: 1360px;
   height: 70px;
   margin-bottom: 40px;
}

.sort_block {
   margin-bottom: 40px;
   width: 908px;
   height: 36px;


}