.cart {
    display: flex;
    width: 780px;
    height: 180px;
    border: 1px solid  rgba(221, 221, 221, 1);
    border-radius: 12px;
    /* margin-left: 32px; */
    background-color: white;
}

.img {
  width: 200px;
  height: 180px;  
  border: 1px solid rgba(221, 221, 221, 1);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.box {
   display: flex; 
   
   flex-direction: column;
   margin-left: 32px;
}

.title_block {
    display: flex;
    position: relative;
    margin-bottom: 32px;
    margin-top: 32px;
    font: Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: rgba(66, 68, 54, 1);
    width: 516px;
    height: 26px;
    
}
.remove {
    display: flex;
    position: absolute;
    margin-left: 492px;
    cursor: pointer;
}

.buttons_block{
    display: flex;
    width: 516px;
    height: 58px;

}

.button {
 width: 58px;
 height: 58px;
 font-size: 24px;
 color: rgba(139, 139, 139, 1);
 border: 1px solid rgba(221, 221, 221, 1);
 border-radius: 6px;
 background-color: white;
}

.count {
    width: 96px;
    height: 58px; 
    border: 1px, 0px, 1px, 0px solid rgba(221, 221, 221, 1);
    font-size:  20px;
    font-weight: 600;
    text-align: center;
    font: Monserrat;
    border-top: 1px solid rgba(221, 221, 221, 1);
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    color: rgba(66, 68, 54, 1);
    padding-top: 16px;
}

.price {
    font-size:  40px;
    font-weight: 600;
    font: Monserrat;
    color: rgba(66, 68, 54, 1);
    margin-left: 32px;
    
}
.discont_price {
    font-size:  20px;
    font-weight: 500;
    font: Monserrat;
    color: rgba(139, 139, 139, 1);
    margin-left: 16px;
    margin-top: 16px;
    text-decoration: line-through;
}
.without_discount {
    display: none;
 }