.header {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #DDDDDD;
   position: relative;
   margin: 0 auto;
   padding: 16px 0;
}

.logo_container {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #92A134;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.logo_container img:first-child {
   width: 36px;
   height: 36px;
}

.logo_container img:last-child {
   width: 35.83px;
   height: 16.67px;
   position: absolute;
   top: 58px;
}

.cart_icon {
   width: 48px;
   height: 48px;
   margin: 16px;
   cursor: pointer;
}

.cart_icon img {
   width: 48px;
   height: 48px;
   top: 40px;
   display: flex;

}

.nav_menu {
   display: flex;
   justify-content: center;
   height: 26px;
   gap: 32px;
   margin: 24px auto;
}


.nav_menu > a {
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   color: #282828;
}
