.discount_block {
   display: flex;
   flex-direction: column;
   position: relative;
   background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
   height: 486px;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: #f9f9f9;
   border-radius: 10px;
}

.back_image {
   object-fit: cover;
   width: 748px;
   height: 360px;
   position: absolute;
   bottom: 0px;
   left: 32px;
}

.discount_block > h3 {
   font-family: 'Montserrat';
   font-size: 64px;
   font-weight: 700;
   line-height: 70px;
   text-align: center;
   color: #FFFFFF;
}

form {
   display: flex;
   flex-direction: column;
   gap: 16px;
   width: 516px;
   height: 206px;
   position: absolute;
   bottom: 25%;
   right: 40px;
}

form > input:focus {
   outline: none;
   border-color: white;
   background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
}

form > input::placeholder {
   color: white;
   opacity: 1;
}

form > input { 
   color: white; 
   border: 1px solid white;
   border-radius: 7px;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   padding: 16px 32px;
   background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);

}

.button {
   padding: 16px 32px;
   border-radius: 7px;
   background-color: rgba(255, 255, 241, 1);
   color: rgba(66, 68, 54, 1);
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   text-align: center;
   margin-top: 10px;
   border: none;
   cursor: pointer;
   width: 516px;
}

@media(max-width: 1000px) {
   .discount_block {
      display: block;
      flex-direction: column;
      position: relative;
      height: 462px;
      padding: 32px;
      width: 960px;
   }

   .back_image {

      max-width: 767px;
      max-height: 336px;
      width: 70%;
      height: 70%;
      gap: 0 10px;
      opacity: 0px;
      position: absolute;
      object-fit: cover;
      overflow: hidden;
      left: -20%;

   }
   
   form {
      display: flex;
      gap: 12px;
      width: 450px;
      height: 206px;
      position: absolute;
      right: 16px;

   }


   form > input { 
      height: 58px;
   
   }

   .button {
      width: 450px;
      
   }

}


@media(max-width: 768px) {
   .discount_block {
      display: block;
      flex-direction: column;
      position: relative;
      height: 536px;
      padding: 32px;
      width: 728px;
   }

   .back_image {

      max-width: 696px;
      max-height: 356px;
      width: 90%;
      object-fit: cover;
      overflow: hidden;
      left: -44%;

   }
   
   form {
      /* display: flex; */
      display: grid;
      /* display: block; */
      gap: 12px;
      width: 334px;
      height: 324px;
      position: absolute;
      right: 20px;
      bottom: 1%;
      
   }


   form > input { 
      height: 58px;
   
   }

   .button {
      width: 334px;
      margin: 32px 0;
   }

}