.discount_block {
   display: flex;
   flex-direction: column;
   position: relative;
   background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
   height: 486px;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: #f9f9f9;
   border-radius: 10px;
}

.discount_block img {
   object-fit: cover;
   width: 748px;
   height: 360px;
   position: absolute;
   bottom: 0px;
   left: 32px;
}

.discount_block > h3 {
   font-family: 'Montserrat';
   font-size: 64px;
   font-weight: 700;
   line-height: 70px;
   text-align: center;
   color: #FFFFFF;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 16px;
   width: 516px;
   height: 206px;
   position: absolute;
   bottom: 25%;
   right: 40px;
}

form > input:focus {
   outline: none;
   border-color: white;
   background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
}

form > input::placeholder {
   color: white;
   opacity: 1;
}

form > input { 
   color: white; 
   border: 1px solid white;
   border-radius: 7px;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   padding: 16px 32px;
   background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);

}

.form button {
   padding: 16px 32px;
   border-radius: 7px;
   background-color: rgba(255, 255, 241, 1);
   color: rgba(66, 68, 54, 1);
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   text-align: center;
   margin-top: 10px;
   border: none;
   cursor: pointer;
   width: 516px;
}

@media(max-width: 1000px) {
   .discount_block {
      height: 462px;
      padding: 32px;
      width: 960px;
      overflow: hidden;
   }

   .discount_block img {
      width: 652px;
      height: 336px;
      position: absolute;
      object-fit: contain;
      left: -19%;
      bottom: -3%;
   }
   
   .form {
      width: 450px;
      height: 206px;
      right: 20px;
   }

   form > input { 
      height: 58px;
   }

   .form button {
      width: 450px;   
   }
}

@media(max-width: 768px) {
   .discount_block {
      display: block;
      flex-direction: column;
      position: relative;
      height: 536px;
      padding: 24px;
      width: 728px;
   }

 
   .discount_block img {
      width: 696px;
      height: 356px;
      left: -47%;
      bottom: -2%;
   }
   
   .form {
      display: flex;
      width: 334px;
      height: 324px;
      position: absolute;
      right: 20px;
      bottom: 3%;
   }

   form > input { 
      height: 58px;
   }

   .form button {
      width: 334px;   
   }
}