.categories_block {
   display: flex;
   flex-direction: column;
   position: relative;
}

.head {
   display: flex;
   justify-content: space-between;
}

h2 {
   font-family: 'Montserrat';
   font-size: 64px;
   font-weight: 700;
   line-height: 70px;
   width: 361px;
   height: 70px;
}

.head > div {
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   align-self: center;
   color: #8B8B8B;
   width: 110px;
   height: 20px;
   padding: 8px, 16px, 8px, 16px;
   border: 1px solid #DDDDDD;
}
/* .categories_block > div:first-child > div > span {
   border-left: 1 px solid #DDDDDD;
   width: 825px;
   position: absolute;
   bottom: 50%;
   left: 50%;

} */

.categories_container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 32px;
   margin: 40px 0;
}
