/* ./categories_block - это класс секции, то есть вместо него, нужно сделать отдельные wrapper.
Практически вся страница находится во wrapper, кроме background image (header 2) */
.categories_block {
   width: 1360px;
   height: 528px;
   margin: 40px auto;
}

.head {
   display: flex;
   gap: 32px;
   justify-content: space-between;
   padding: 40px 0;
}

.head h2{
   font-family: 'Montserrat';
   font-size: 64px;
   font-weight: 700;
   line-height: 70px;
   text-align: left;
}

.button {
   position: relative;
   display: flex;
   align-items: center; 
}

.button::before {
   content: "";
   position: absolute;
   top: 50%; 
   left: -800px;
   width: calc(100% + 655px);
   height: 1px; 
   background-color: #DDDDDD;
   transform: translateY(-50%);
}

.button > div {
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 500;
   align-self: center;
   padding: 8px 16px;
   color: #8B8B8B;
   border-radius: 5px;
   border: 1px solid #DDDDDD;
   cursor: pointer;
}

.categories_block > ul {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   list-style-type: none;
   gap: 32px;
   cursor: pointer;
   width: 100%;
}

ul li > img {
   width: 316px;
   height: 350px;
   border-radius: 7%; 
   margin-bottom: 16px;
}
ul li > p {
   color: #424436;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   text-align: center;
   width: 316px;
   height: 26px;

}